{% extends "base_generic.html" %} 

{% block content %}
    <h1>Author: {{ author.first_name }}, {{ author.last_name }}</h1>
    <span>{{ author.date_of_birth }} - {{ author.date_of_death }}</span>
    
    <h3>Books</h3>
    {% if author_books %}
    <ul>
        {% for author_book in author_books %}
        <li>
            <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no books in the library.</p>
    {% endif %}
{% endblock %}